{:rooms
 {:west-of-house
  {:desc    "West of House"
   :exits   {:north :north-of-house
             :ne    :north-of-house
             :south :south-of-house
             :se    :south-of-house
             :west  :forest-1
             :east  "The door is boarded and you can't remove the boards."
             :sw    {:to :stone-barrow :if :won-flag}
             :in    {:to :stone-barrow :if :won-flag}}
   :action  :west-house
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:white-house :board :forest}}

  :north-of-house
  {:desc  "North of House"
   :ldesc "You are facing the north side of a white house. There is no door here, and all the windows are boarded up. To the north a narrow path winds through the trees."
   :exits {:sw    :west-of-house
           :west  :west-of-house
           :se    :east-of-house
           :east  :east-of-house
           :north :path
           :south "The windows are all boarded."}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:boarded-window :board :white-house :forest}}

  :south-of-house
  {:desc  "South of House"
   :ldesc "You are facing the south side of a white house. There is no door here, and all the windows are boarded."
   :exits {:west  :west-of-house
           :nw    :west-of-house
           :east  :east-of-house
           :ne    :east-of-house
           :south :forest-3
           :north "The windows are all boarded."}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:boarded-window :board :white-house :forest}}

  :east-of-house
  {:desc   "Behind House"
   :action :east-house
   :exits  {:north :north-of-house
            :nw    :north-of-house
            :south :south-of-house
            :sw    :south-of-house
            :east  :clearing
            :west  {:to :kitchen :if-open :kitchen-window}
            :in    {:to :kitchen :if-open :kitchen-window}}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:white-house :kitchen-window :forest}}

  :stone-barrow
  {:desc  "Stone Barrow"
   :ldesc "You are standing in front of a massive barrow of stone. In the east face is a huge stone door which is open. You cannot see into the dark of the tomb."
   :action :stone-barrow-fcn
   :exits  {:ne :west-of-house}
   :flags  #{:rlandbit :onbit :sacredbit}}

  :forest-1
  {:desc   "Forest"
   :ldesc  "This is a forest, with trees in all directions. To the east, there appears to be sunlight."
   :action :forest-room
   :exits  {:north :grating-clearing
            :east  :path
            :south :forest-3
            :up    "There is no tree here suitable for climbing."
            :west  "You would need a machete to go further west."}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :songbird :white-house :forest}}

  :forest-2
  {:desc   "Forest"
   :ldesc  "This is a dimly lit forest, with large trees all around."
   :action :forest-room
   :exits  {:up    "There is no tree here suitable for climbing."
            :north "The forest becomes impenetrable to the north."
            :east  :mountains
            :south :clearing
            :west  :path}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :songbird :white-house :forest}}

  :forest-3
  {:desc   "Forest"
   :ldesc  "This is a dimly lit forest, with large trees all around."
   :action :forest-room
   :exits  {:up    "There is no tree here suitable for climbing."
            :north :clearing
            :east  "The rank undergrowth prevents eastward movement."
            :south "Storm-tossed trees block your way."
            :west  :forest-1
            :nw    :south-of-house}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :songbird :white-house :forest}}

  :mountains
  {:desc  "Forest"
   :ldesc "The forest thins out, revealing impassable mountains."
   :exits {:up    "The mountains are impassable."
           :north :forest-2
           :east  "The mountains are impassable."
           :south :forest-2
           :west  :forest-2}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :white-house}}

  :path
  {:desc   "Forest Path"
   :ldesc  "This is a path winding through a dimly lit forest. The path heads north-south here. One particularly large tree with some low branches stands at the edge of the path."
   :action :forest-room
   :exits  {:up    :up-a-tree
            :north :grating-clearing
            :east  :forest-2
            :south :north-of-house
            :west  :forest-1}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :songbird :white-house :forest}}

  :up-a-tree
  {:desc   "Up a Tree"
   :action :tree-room
   :exits  {:down :path
            :up   "You cannot climb any higher."}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :forest :songbird :white-house}}

  :grating-clearing
  {:desc   "Clearing"
   :action :clearing-fcn
   :exits  {:north "The forest becomes impenetrable to the north."
            :east  :forest-2
            :west  :forest-1
            :south :path
            :down  "You can't go that way."}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:white-house :grate}}

  :clearing
  {:desc   "Clearing"
   :ldesc  "You are in a small clearing in a well marked forest path that extends to the east and west."
   :action :forest-room
   :exits  {:up    "There is no tree here suitable for climbing."
            :east  :canyon-view
            :north :forest-2
            :south :forest-3
            :west  :east-of-house}
   :flags   #{:rlandbit :onbit :sacredbit}
   :globals #{:tree :songbird :white-house :forest}}}

 :objects
 {:mailbox
  {:location   :west-of-house
   :synonyms   #{:mailbox :box}
   :adjectives #{:small}
   :desc       "small mailbox"
   :flags      #{:contbit :trytakebit}
   :capacity   10
   :action     :mailbox-f}

  :advertisement
  {:location   :mailbox
   :synonyms   #{:advertisement :leaflet :booklet :mail}
   :adjectives #{:small}
   :desc       "leaflet"
   :flags      #{:readbit :takebit :burnbit}
   :ldesc      "A small leaflet is on the ground."
   :text       "\"WELCOME TO ZORK!\n\nZORK is a game of adventure, danger, and low cunning. In it you will explore some of the most amazing territory ever seen by mortals. No computer should be without one!\""
   :size       2}

  :kitchen-window
  {:location   :local-globals
   :synonyms   #{:window}
   :adjectives #{:kitchen :small}
   :desc       "kitchen window"
   :flags      #{:doorbit :ndescbit}
   :action     :kitchen-window-f}}}
